@font-face {
  font-family: 'freedom';
  src: url('FREEDOM.ttf');
}

html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "arial";
    background: black;
}

#interface{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

#gamearea
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease-in 0.5s;
}
#gamearea.show
{
    opacity: 1;
}

.box
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 250px;
    background: rgba(30,50,50,0.9);
    background-image: url("/resources/css/lines.png");
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.6) inset;
    border: 1px solid rgba(255,255,255,0.05);
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    opacity: 1;
    animation-name: boxopen;
    animation-duration: 0.4s;
}

.box.hide
{
    animation-name: boxclose;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transform: translateX(-50%) translateY(-50%) perspective(600px) rotateX(0deg) scale(1,1);
}

@keyframes boxopen
{
    0%
    {
        transform: translateY(-50%) translateX(-50%) perspective(600px) scale(0.01,0.01);
        -webkit-filter: blur(10px) contrast(0) brightness(7) grayscale(1);
        filter: blur(10px) contrast(0) brightness(7) grayscale(1);
        opacity: 0;
    }
    40%
    {
        transform: translateY(-50%) translateX(-50%) perspective(600px) scale(1.2,0.01);
        -webkit-filter: blur(10px) contrast(0) brightness(7) grayscale(1);
        filter: blur(10px) contrast(0) brightness(7) grayscale(1);
        opacity: 1;
    }
    100%
    {
        transform: translateX(-50%) translateY(-50%) perspective(600px) scale(1,1);
        -webkit-filter: blur(0px) contrast(1) brightness(1) grayscale(0);
        filter: blur(0px) contrast(1) brightness(1) grayscale(0);
    }
}

@keyframes boxclose
{
    0%
    {
        transform: translateX(-50%) translateY(-50%) perspective(600px) scale(1,1);
        -webkit-filter: blur(0px) brightness(1) grayscale(0);
        filter: blur(0px) brightness(1) grayscale(0);
    }
    60%
    {
        transform: translateY(-50%) translateX(-50%) perspective(600px) scale(1.2,0.01);
        -webkit-filter: blur(10px) brightness(7) grayscale(1);
        filter: blur(10px) brightness(7) grayscale(1);
        opacity: 1;
    }
    100%
    {
        transform: translateY(-50%) translateX(-50%) perspective(600px) scale(0.01,0.01);
        opacity: 0;
    }
}

.box.green
{
    background: rgba(10,70,10,0.95);
}

.box.red
{
    background: rgba(70,10,10,0.95);
}

.box > .content
{
    padding: 20px;
    text-align: center;
    color: white;
}

a
{
    display: inline-block;
    color: rgb(203,255,255);
    text-shadow: 0px 0px 3px black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

input, button
{
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(203,255,255,0.1);
    color: white;
    width: 200px;
    margin: 3px;
    font-size: 16px;
    transition: box-shadow 0.2s;
    box-shadow: none;
}

input:focus, button:focus
{
    box-shadow: 0px 0px 5px rgba(0,255,255, 1);
}
