<h1>Register</h1>
<form>
    <div class="error" style="color: red;">&nbsp;</div>
    <input class="firstname" value="" placeholder="Firstname">
    <br><input class="lastname" value="" placeholder="Lastname">
    <br><input type="email" class="email" value="" placeholder="Email">
    <br><input type="password" class="password" value="" placeholder="Password">
    <br><input type="password" class="repeat_password" value="" placeholder="Repeat Password">
    <br><input type="submit" class="button" value="Register">
</form>
<br>
<a href="Register.html" class="login">Login with an existing account</a>
